extends layout

block content
  img(style="margin: 5px;", src='./thumbnail/' + file.id) 
  a(href='./preview/' + file.id) #{file.name}
  br
  br
  a.btn.btn-default(id='download-button', href='./download/' + file.id) Download File
